# Treatment Code

## Imports

In [1]:
from treatment_data_clean_utils import (treatment_reading_and_cleaning, 
                                        shared_merge_game_and_instrucs, 
                                        split_merge_game_and_instrucs,
                                        single_merge_game_and_instrucs,
                                        gen_treatment_all_df)
import pandas as pd

## Shared Endowment

In [2]:
shared_instrucs_df = treatment_reading_and_cleaning('/Users/aaronberman/Desktop/DA_4_MGPGG/ToDate/SharedInstrucsCompQs_2023-09-26.csv')
shared_instrucs_df_final = treatment_reading_and_cleaning('/Users/aaronberman/Desktop/DA_4_MGPGG/FinalSessions/SharedInstrucsCompQs_2023-09-28.csv')
shared_instrucs_df_all = pd.concat([shared_instrucs_df, shared_instrucs_df_final], ignore_index=True)
shared_df = treatment_reading_and_cleaning('/Users/aaronberman/Desktop/DA_4_MGPGG/ToDate/SharedEndowment_2023-09-26.csv')
shared_df_final = treatment_reading_and_cleaning('/Users/aaronberman/Desktop/DA_4_MGPGG/FinalSessions/SharedEndowment_2023-09-28.csv')
shared_df_all = pd.concat([shared_df, shared_df_final], ignore_index=True)

In [5]:
shared_instrucs_df_all

,participant.id_in_session,participant.code,participant.payoff,player.id_in_group,player.payoff,player.comprehension_question_one,player.comprehension_question_two,player.comprehension_question_three_a,player.comprehension_question_three_b,player.comprehension_question_four_a,...,player.num_errors_q_three_a,player.num_errors_q_three_b,player.num_errors_q_four_a,player.num_errors_q_four_b,player.num_errors_q_four_c,player.num_errors_q_four_d,group.id_in_subsession,subsession.round_number,session.code,session.is_demo
0,1,znlu9jpg,841.0,1,0.0,20.0,1.0,0.0,20.0,12.0,...,0,0,1,0,0,0,1,1,v90x8oti,0
1,2,ntsf9cu5,1157.0,2,0.0,20.0,1.0,0.0,20.0,12.0,...,0,0,2,0,0,0,1,1,v90x8oti,0
2,3,4hnzonph,1210.0,3,0.0,20.0,1.0,0.0,20.0,0.0,...,1,0,1,2,0,0,1,1,v90x8oti,0
3,4,wye0azrj,1059.0,4,0.0,20.0,1.0,0.0,20.0,12.0,...,0,0,0,0,0,0,1,1,v90x8oti,0
4,5,zq928mn2,1049.0,5,0.0,20.0,1.0,0.0,20.0,12.0,...,0,0,0,2,0,0,1,1,v90x8oti,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
75,12,krldt1a3,1062.0,12,0.0,20.0,1.0,0.0,20.0,12.0,...,0,0,1,1,0,2,1,1,3pylrkuc,0
76,13,skj54dsp,1067.0,13,0.0,20.0,1.0,0.0,20.0,0.0,...,0,0,2,0,0,0,1,1,3pylrkuc,0
77,14,xjz74qvq,838.0,14,0.0,20.0,1.0,0.0,20.0,12.0,...,0,0,0,0,0,0,1,1,3pylrkuc,0
78,15,8bifeagl,954.0,15,0.0,20.0,1.0,0.0,20.0,12.0,...,0,0,1,1,1,1,1,1,3pylrkuc,0
79,16,w9zef9ad,939.0,16,0.0,20.0,1.0,0.0,20.0,12.0,...,0,0,0,0,0,0,1,1,3pylrkuc,0

In [4]:
shared_df_all

,participant.id_in_session,participant.code,participant.payoff,player.id_in_group,player.payoff,player.blue_group_partner_one_id,player.blue_group_partner_two_id,player.blue_group_partner_three_id,player.blue_group_total_investment,player.blue_group_individual_share,...,player.green_group_investment,player.start_time,player.time_spent_invest,player.time_spent_results,player.time_spent_cumulative_results,player.num_errors_invest,group.id_in_subsession,subsession.round_number,session.code,session.is_demo
0,1,znlu9jpg,841.0,1,27.0,2.0,3.0,4.0,25.0,13.0,...,7.0,1.693938e+09,31.695113,6.974669,0.000000,0,1,1,v90x8oti,0
1,2,ntsf9cu5,1157.0,2,29.0,3.0,4.0,1.0,25.0,13.0,...,8.0,1.693938e+09,8.786544,2.004549,0.000000,0,1,1,v90x8oti,0
2,3,4hnzonph,1210.0,3,38.0,4.0,1.0,2.0,25.0,13.0,...,5.0,1.693938e+09,6.436942,16.239878,0.000000,0,1,1,v90x8oti,0
3,4,wye0azrj,1059.0,4,27.0,1.0,2.0,3.0,25.0,13.0,...,7.0,1.693938e+09,6.483665,10.005340,0.000000,0,1,1,v90x8oti,0
4,5,zq928mn2,1049.0,5,37.0,6.0,7.0,8.0,47.0,24.0,...,8.0,1.693938e+09,7.972710,3.589767,0.000000,0,1,1,v90x8oti,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1595,12,krldt1a3,1062.0,12,28.0,9.0,10.0,11.0,0.0,0.0,...,0.0,1.695933e+09,5.005443,20.853082,7.708724,0,1,20,3pylrkuc,0
1596,13,skj54dsp,1067.0,13,34.0,14.0,15.0,16.0,27.0,14.0,...,5.0,1.695933e+09,11.163376,5.540963,22.560189,0,1,20,3pylrkuc,0
1597,14,xjz74qvq,838.0,14,27.0,15.0,16.0,13.0,27.0,14.0,...,0.0,1.695933e+09,6.485358,6.848764,6.615657,0,1,20,3pylrkuc,0
1598,15,8bifeagl,954.0,15,28.0,16.0,13.0,14.0,27.0,14.0,...,5.0,1.695933e+09,3.412994,1.930323,11.389957,0,1,20,3pylrkuc,0
1599,16,w9zef9ad,939.0,16,22.0,13.0,14.0,15.0,27.0,14.0,...,10.0,1.695933e+09,11.785723,8.504499,33.643404,0,1,20,3pylrkuc,0

In [6]:
shared_all_df = shared_merge_game_and_instrucs(shared_df_all, shared_instrucs_df_all)

In [7]:
shared_all_df

,participant.id_in_session,participant.code,participant.payoff,player.id_in_group,player.payoff,player.blue_group_partner_one_id,player.blue_group_partner_two_id,player.blue_group_partner_three_id,player.blue_group_total_investment,player.blue_group_individual_share,...,player.num_errors_q_two_shared,player.num_errors_q_three_a_shared,player.num_errors_q_three_b_shared,player.num_errors_q_four_a_shared,player.num_errors_q_four_b_shared,player.num_errors_q_four_c_shared,player.num_errors_q_four_d_shared,Shared,Split,Single
0,1,znlu9jpg,841.0,1,27.0,2.0,3.0,4.0,25.0,13.0,...,0,0,0,1,0,0,0,True,False,False
1,1,znlu9jpg,841.0,1,25.0,2.0,3.0,4.0,35.0,18.0,...,0,0,0,1,0,0,0,True,False,False
2,1,znlu9jpg,841.0,1,26.0,2.0,3.0,4.0,30.0,15.0,...,0,0,0,1,0,0,0,True,False,False
3,1,znlu9jpg,841.0,1,27.0,2.0,3.0,4.0,29.0,15.0,...,0,0,0,1,0,0,0,True,False,False
4,1,znlu9jpg,841.0,1,28.0,2.0,3.0,4.0,27.0,14.0,...,0,0,0,1,0,0,0,True,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1595,16,w9zef9ad,939.0,16,31.0,13.0,14.0,15.0,24.0,12.0,...,0,0,0,0,0,0,0,True,False,False
1596,16,w9zef9ad,939.0,16,30.0,13.0,14.0,15.0,23.0,12.0,...,0,0,0,0,0,0,0,True,False,False
1597,16,w9zef9ad,939.0,16,33.0,13.0,14.0,15.0,26.0,13.0,...,0,0,0,0,0,0,0,True,False,False
1598,16,w9zef9ad,939.0,16,29.0,13.0,14.0,15.0,26.0,13.0,...,0,0,0,0,0,0,0,True,False,False
1599,16,w9zef9ad,939.0,16,22.0,13.0,14.0,15.0,27.0,14.0,...,0,0,0,0,0,0,0,True,False,False

In [8]:
shared_all_df.to_csv('shared_all_df.csv')

## Split

In [9]:
split_instrucs_df = treatment_reading_and_cleaning('/Users/aaronberman/Desktop/DA_4_MGPGG/ToDate/SplitInstrucsCompQs_2023-09-26.csv')
split_instrucs_df_final = treatment_reading_and_cleaning('/Users/aaronberman/Desktop/DA_4_MGPGG/FinalSessions/SplitInstrucsCompQs_2023-09-28.csv')
split_instrucs_df_all = pd.concat([split_instrucs_df, split_instrucs_df_final], ignore_index=True)
split_df = treatment_reading_and_cleaning('/Users/aaronberman/Desktop/DA_4_MGPGG/ToDate/SplitEndowment_2023-09-26.csv')
split_df_final = treatment_reading_and_cleaning('/Users/aaronberman/Desktop/DA_4_MGPGG/FinalSessions/SplitEndowment_2023-09-28.csv')
split_df_all = pd.concat([split_df, split_df_final], ignore_index=True)

In [10]:
split_instrucs_df_all

,participant.id_in_session,participant.code,participant.payoff,player.id_in_group,player.payoff,player.comprehension_question_one_blue,player.comprehension_question_one_green,player.comprehension_question_two,player.comprehension_question_three_a,player.comprehension_question_three_b,...,player.num_errors_q_three_a,player.num_errors_q_three_b,player.num_errors_q_four_a,player.num_errors_q_four_b,player.num_errors_q_four_c,player.num_errors_q_four_d,group.id_in_subsession,subsession.round_number,session.code,session.is_demo
0,1,7dn0fcr7,918.0,1,0.0,10.0,10.0,1.0,0.0,10.0,...,1,0,3,2,0,1,1,1,b4569m23,0
1,2,ic57a2og,842.0,2,0.0,10.0,10.0,1.0,0.0,10.0,...,0,1,2,0,0,0,1,1,b4569m23,0
2,3,6zejrew8,809.0,3,0.0,10.0,10.0,1.0,0.0,10.0,...,0,0,1,0,0,0,1,1,b4569m23,0
3,4,y9eborjq,910.0,4,0.0,10.0,10.0,1.0,0.0,10.0,...,1,0,1,1,1,2,1,1,b4569m23,0
4,5,xvuuxsl4,1394.0,5,0.0,10.0,10.0,1.0,0.0,10.0,...,1,0,2,1,0,3,1,1,b4569m23,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
75,12,szspk01l,1115.0,12,0.0,10.0,10.0,1.0,0.0,10.0,...,2,1,0,0,0,2,1,1,0u7znnig,0
76,13,c8f9nmss,1113.0,13,0.0,10.0,10.0,1.0,0.0,10.0,...,1,0,0,0,0,0,1,1,0u7znnig,0
77,14,mw9w9ppk,1176.0,14,0.0,10.0,10.0,1.0,0.0,10.0,...,1,0,2,2,0,0,1,1,0u7znnig,0
78,15,hi3c4ivk,1141.0,15,0.0,10.0,10.0,1.0,0.0,10.0,...,0,0,1,0,0,0,1,1,0u7znnig,0
79,16,lfaabj8t,889.0,16,0.0,10.0,10.0,1.0,0.0,10.0,...,5,0,2,0,0,0,1,1,0u7znnig,0

In [11]:
split_df_all

,participant.id_in_session,participant.code,participant.payoff,player.id_in_group,player.payoff,player.blue_group_partner_one_id,player.blue_group_partner_two_id,player.blue_group_partner_three_id,player.blue_group_total_investment,player.blue_group_individual_share,...,player.blue_group_investment,player.green_group_investment,player.start_time,player.time_spent_invest,player.time_spent_results,player.time_spent_cumulative_results,group.id_in_subsession,subsession.round_number,session.code,session.is_demo
0,1,7dn0fcr7,918.0,1,32.0,2.0,3.0,4.0,11.0,6.0,...,5.0,5.0,1.693943e+09,6.172033,7.361211,0.000000,1,1,b4569m23,0
1,2,ic57a2og,842.0,2,35.0,3.0,4.0,1.0,11.0,6.0,...,1.0,1.0,1.693943e+09,9.451629,6.326984,0.000000,1,1,b4569m23,0
2,3,6zejrew8,809.0,3,31.0,4.0,1.0,2.0,11.0,6.0,...,5.0,5.0,1.693943e+09,7.874828,28.361842,0.000000,1,1,b4569m23,0
3,4,y9eborjq,910.0,4,37.0,1.0,2.0,3.0,11.0,6.0,...,0.0,0.0,1.693943e+09,7.487664,7.215567,0.000000,1,1,b4569m23,0
4,5,xvuuxsl4,1394.0,5,32.0,6.0,7.0,8.0,32.0,16.0,...,10.0,10.0,1.693943e+09,4.142222,1.059118,0.000000,1,1,b4569m23,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1595,12,szspk01l,1115.0,12,32.0,9.0,10.0,11.0,9.0,5.0,...,0.0,0.0,1.695927e+09,5.449413,3.496296,15.306406,1,20,0u7znnig,0
1596,13,c8f9nmss,1113.0,13,35.0,14.0,15.0,16.0,22.0,11.0,...,0.0,0.0,1.695927e+09,9.560024,3.764291,13.271161,1,20,0u7znnig,0
1597,14,mw9w9ppk,1176.0,14,21.0,15.0,16.0,13.0,22.0,11.0,...,10.0,10.0,1.695927e+09,4.731500,4.057132,20.810437,1,20,0u7znnig,0
1598,15,hi3c4ivk,1141.0,15,30.0,16.0,13.0,14.0,22.0,11.0,...,5.0,5.0,1.695927e+09,5.057163,2.406982,3.778058,1,20,0u7znnig,0
1599,16,lfaabj8t,889.0,16,23.0,13.0,14.0,15.0,22.0,11.0,...,7.0,8.0,1.695927e+09,6.398227,1.639040,4.666032,1,20,0u7znnig,0

In [12]:
split_all_df = split_merge_game_and_instrucs(split_df_all, split_instrucs_df_all)

In [13]:
split_all_df.to_csv('split_all_df.csv')

## Single

In [14]:
single_instrucs_df = treatment_reading_and_cleaning('/Users/aaronberman/Desktop/DA_4_MGPGG/ToDate/SingleGroupInstrucsCompQs_2023-09-26.csv')
single_instrucs_df_final = treatment_reading_and_cleaning('/Users/aaronberman/Desktop/DA_4_MGPGG/FinalSessions/SingleGroupInstrucsCompQs_2023-09-28.csv')
single_instrucs_df_all = pd.concat([single_instrucs_df, single_instrucs_df_final], ignore_index=True)
single_df = treatment_reading_and_cleaning('/Users/aaronberman/Desktop/DA_4_MGPGG/ToDate/SingleGroup_2023-09-26.csv')
single_df_final = treatment_reading_and_cleaning('/Users/aaronberman/Desktop/DA_4_MGPGG/FinalSessions/SingleGroup_2023-09-28.csv')
single_df_all = pd.concat([single_df, single_df_final], ignore_index=True)

In [15]:
single_instrucs_df_all

,participant.id_in_session,participant.code,participant.payoff,player.id_in_group,player.payoff,player.comprehension_question_one,player.comprehension_question_two,player.comprehension_question_three_a,player.comprehension_question_three_b,player.comprehension_question_four_a,...,player.num_errors_q_two,player.num_errors_q_three_a,player.num_errors_q_three_b,player.num_errors_q_four_a,player.num_errors_q_four_b,player.num_errors_q_four_c,group.id_in_subsession,subsession.round_number,session.code,session.is_demo
0,1,byr62fae,1190.0,1,0.0,20.0,1.0,0.0,20.0,21.0,...,0,0,0,0,0,0,1,1,ki1gapuv,0
1,2,3glo2sut,1391.0,2,0.0,20.0,1.0,0.0,20.0,21.0,...,0,0,0,1,0,1,1,1,ki1gapuv,0
2,3,kbssc6j5,955.0,3,0.0,20.0,1.0,0.0,20.0,21.0,...,0,0,0,1,0,0,1,1,ki1gapuv,0
3,4,s0rqj6zp,1478.0,4,0.0,20.0,1.0,0.0,20.0,21.0,...,0,0,0,0,0,0,1,1,ki1gapuv,0
4,5,52bv3haq,905.0,5,0.0,20.0,1.0,0.0,20.0,21.0,...,0,0,0,0,0,0,1,1,ki1gapuv,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
75,12,pkhw1rhz,1177.0,12,0.0,20.0,1.0,0.0,20.0,21.0,...,0,1,1,0,0,0,1,1,8dugwe7k,0
76,13,5mqk6e0d,856.0,13,0.0,20.0,1.0,0.0,20.0,21.0,...,0,1,0,1,0,1,1,1,8dugwe7k,0
77,14,4gbeiemo,1112.0,14,0.0,20.0,1.0,0.0,20.0,21.0,...,0,0,0,1,0,0,1,1,8dugwe7k,0
78,15,zlggycpg,1088.0,15,0.0,20.0,1.0,0.0,20.0,21.0,...,0,0,0,0,0,0,1,1,8dugwe7k,0
79,16,3k4ystev,1108.0,16,0.0,20.0,1.0,0.0,20.0,21.0,...,1,0,0,1,0,0,1,1,8dugwe7k,0

In [16]:
single_df_all

,participant.id_in_session,participant.code,participant.payoff,player.id_in_group,player.payoff,player.investment,player.personal_account,player.indiv_share,player.tot_invest,player.start_time,player.time_spent_invest,player.time_spent_results,player.time_spent_cumulative_results,group.id_in_subsession,group.total_investment,group.individual_share,subsession.round_number,session.code,session.is_demo
0,1,byr62fae,1190.0,1,34.0,12.0,8.0,26.0,52.0,1.694193e+09,4.681808,7.299421,0.000000,1,52.0,26.0,1,ki1gapuv,0
1,2,3glo2sut,1391.0,2,36.0,10.0,10.0,26.0,52.0,1.694193e+09,1.722214,3.769028,0.000000,1,52.0,26.0,1,ki1gapuv,0
2,3,kbssc6j5,955.0,3,36.0,10.0,10.0,26.0,52.0,1.694193e+09,0.994257,9.404061,0.000000,1,52.0,26.0,1,ki1gapuv,0
3,4,s0rqj6zp,1478.0,4,26.0,20.0,0.0,26.0,52.0,1.694193e+09,15.276601,9.090182,0.000000,1,52.0,26.0,1,ki1gapuv,0
4,5,52bv3haq,905.0,1,25.0,10.0,10.0,15.0,30.0,1.694193e+09,4.098032,2.469648,0.000000,2,30.0,15.0,1,ki1gapuv,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1595,12,pkhw1rhz,1177.0,4,37.0,10.0,10.0,27.0,54.0,1.695760e+09,2.676708,2.684011,14.642368,3,54.0,27.0,20,8dugwe7k,0
1596,13,5mqk6e0d,856.0,1,21.0,8.0,12.0,9.0,18.0,1.695760e+09,4.171085,10.255325,4.899966,4,18.0,9.0,20,8dugwe7k,0
1597,14,4gbeiemo,1112.0,2,29.0,0.0,20.0,9.0,18.0,1.695760e+09,3.502312,4.771532,3.753782,4,18.0,9.0,20,8dugwe7k,0
1598,15,zlggycpg,1088.0,3,29.0,0.0,20.0,9.0,18.0,1.695760e+09,42.353627,2.323373,17.712303,4,18.0,9.0,20,8dugwe7k,0
1599,16,3k4ystev,1108.0,4,19.0,10.0,10.0,9.0,18.0,1.695760e+09,3.965163,5.035140,3.724170,4,18.0,9.0,20,8dugwe7k,0

In [17]:
single_all_df = single_merge_game_and_instrucs(single_df_all, single_instrucs_df_all)

In [18]:
single_all_df.to_csv('single_all_df.csv')

## Combine

In [19]:
all_treatment_df = gen_treatment_all_df(single_all_df, split_all_df, shared_all_df)

In [20]:
all_treatment_df

             participant.id_in_session participant.code  participant.payoff  \
single 0                             1         byr62fae              1190.0
       1                             1         byr62fae              1190.0
       2                             1         byr62fae              1190.0
       3                             1         byr62fae              1190.0
       4                             1         byr62fae              1190.0
...                                ...              ...                 ...
shared 1595                         16         w9zef9ad               939.0
       1596                         16         w9zef9ad               939.0
       1597                         16         w9zef9ad               939.0
       1598                         16         w9zef9ad               939.0
       1599                         16         w9zef9ad               939.0

             player.id_in_group  player.payoff  player.investment  \
single 0                      1           34.0               12.0
       1                      1           37.0               16.0
       2                      1           38.0               20.0
       3                      1           40.0               20.0
       4                      1           40.0               20.0
...                         ...            ...                ...
shared 1595                  16           31.0                NaN
       1596                  16           30.0                NaN
       1597                  16           33.0                NaN
       1598                  16           29.0                NaN
       1599                  16           22.0                NaN

             player.personal_account  player.indiv_share  player.tot_invest  \
single 0                         8.0                26.0               52.0
       1                         4.0                33.0               66.0
       2                         0.0                38.0               76.0
       3                         0.0                40.0               80.0
       4                         0.0                40.0               80.0
...                              ...                 ...                ...
shared 1595                      5.0                 NaN                NaN
       1596                      4.0                 NaN                NaN
       1597                      6.0                 NaN                NaN
       1598                      4.0                 NaN                NaN
       1599                      0.0                 NaN                NaN

             player.start_time  ...  \
single 0          1.694193e+09  ...
       1          1.694193e+09  ...
       2          1.694193e+09  ...
       3          1.694193e+09  ...
       4          1.694193e+09  ...
...                        ...  ...
shared 1595       1.695933e+09  ...
       1596       1.695933e+09  ...
       1597       1.695933e+09  ...
       1598       1.695933e+09  ...
       1599       1.695933e+09  ...

             player.comprehension_question_four_c_shared  \
single 0                                             NaN
       1                                             NaN
       2                                             NaN
       3                                             NaN
       4                                             NaN
...                                                  ...
shared 1595                                          3.0
       1596                                          3.0
       1597                                          3.0
       1598                                          3.0
       1599                                          3.0

             player.comprehension_question_four_d_shared  \
single 0                                             NaN
       1                                             NaN
       2                                             NaN
       3                                             NaN
       4                                             NaN
...                                                  ...
shared 1595                                         36.0
       1596                                         36.0
       1597                                         36.0
       1598                                         36.0
       1599                                         36.0

             player.num_errors_q_one_shared  player.num_errors_q_two_shared  \
single 0                                NaN                             NaN
       1                                NaN                             NaN
       2                                NaN                             NaN
       3                                NaN                             NaN
       4                                NaN                             NaN
...                                     ...                             ...
shared 1595                             0.0                             0.0
       1596                             0.0                             0.0
       1597                             0.0                             0.0
       1598                             0.0                             0.0
       1599                             0.0                             0.0

             player.num_errors_q_three_a_shared  \
single 0                                    NaN
       1                                    NaN
       2                                    NaN
       3                                    NaN
       4                                    NaN
...                                         ...
shared 1595                                 0.0
       1596                                 0.0
       1597                                 0.0
       1598                                 0.0
       1599                                 0.0

             player.num_errors_q_three_b_shared  \
single 0                                    NaN
       1                                    NaN
       2                                    NaN
       3                                    NaN
       4                                    NaN
...                                         ...
shared 1595                                 0.0
       1596                                 0.0
       1597                                 0.0
       1598                                 0.0
       1599                                 0.0

             player.num_errors_q_four_a_shared  \
single 0                                   NaN
       1                                   NaN
       2                                   NaN
       3                                   NaN
       4                                   NaN
...                                        ...
shared 1595                                0.0
       1596                                0.0
       1597                                0.0
       1598                                0.0
       1599                                0.0

            player.num_errors_q_four_b_shared  \
single 0                                  NaN
       1                                  NaN
       2                                  NaN
       3                                  NaN
       4                                  NaN
...                                       ...
shared 1595                               0.0
       1596                               0.0
       1597                               0.0
       1598                               0.0
       1599                               0.0

             player.num_errors_q_four_c_shared  \
single 0                                   NaN
       1                                   NaN
       2                                   NaN
       3                                   NaN
       4                                   NaN
...                                        ...
shared 1595                                0.0
       1596                                0.0
       1597                                0.0
       1598                                0.0
       1599                                0.0

             player.num_errors_q_four_d_shared
single 0                                   NaN
       1                                   NaN
       2                                   NaN
       3                                   NaN
       4                                   NaN
...                                        ...
shared 1595                                0.0
       1596                                0.0
       1597                                0.0
       1598                                0.0
       1599                                0.0

[4800 rows x 94 columns]

In [21]:
all_treatment_df.to_csv('all_treatment_df.csv')